.headline{
    text-align: left;
    color: yellow;
    font-size: 40px;
    font-family: 华文楷体;
}
    
.res{
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-color: #cccc99;
}
    
.mas{
    width: 60%;
    border: 1px solid black;
    float: left;
    height: 300px;
    font-size: 24px;
}
button{
    border-radius: 10px;
    box-shadow: 5px 5px 5px #6600FF;
    height: 40px;
    width: 90%;
    background-color: #6666FF;
}
    
.clo{
    color: #0000FF;
    font-size: 110%;
    font-family: 华文宋体;
    font-weight:bold;
}
    
.cho{
    float: right;
    width: 35%;
    border: 1px solid black;
    text-align: center;
    margin-right: 3px;
    background-color:#ECA646;
}
.po{
    font-family: 华文仿宋;
    font-size: 22x;
    color: #FFFF99;
    font-weight:bold;
}

.wordsize{
    font-size: 25px;
}