.body {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    font-family: KaiTi;
}
* {
    padding:0;
    margin:0;
    list-style: none;
}
.top {
    flex:0.5;
}
.title {

    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.central {
    flex:2.5;
    display:flex;
    flex-direction: column;
}
.up {
    flex:4;
    display:flex;
    flex:row;
}
img {
    flex:1;
}
.introduce {
    flex:1.5;
}
.bookName {
    font-size:1.5rem;
    text-align: center;
}
.bookIntroduce {
    height:80%;
    overflow: auto;
}

.down {
    flex:1;
}
button {
    display:block;
    float:right;
    font-size:1.2rem;
    border-radius: 4%;
    background-color: orange;
    margin-right:1rem;
    margin-top:0.5rem;
}
.bottom {
    flex:5;
    margin-top:5px;
    overflow: hidden;
    
}
.bottom p {
    font-size:1.5rem;
}
.bottom .contentIntroduce {
    height: calc(100% - 1.7rem);
    overflow: auto;
    /* padding-left: 0.2rem;
    padding-right: 0.2rem; */
    text-align: center;
}
