.body {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    font-family: KaiTi;
}
* {
    padding:0;
    margin:0;
    list-style: none;
}
.top {
    flex:0.5;
}
.title {

    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.central {
    flex:2.5;
    background:url("../../../../assets/library-img.jpg") no-repeat;
    background-size: 100%;
}
.sBox {
    float:right;
    width:60%;
    height:15%;
  
}
.sBox input {
    width: 77%;
    height:90%;
    border-radius: 4%;
    padding-left: 1rem;
}
.sBox button {
    width:20%;
    height:90%;  
    border-radius: 6%; 
    
}
 img {
    width:30%;
    height:30%; 
}
.bottom {
    flex:5;
    display:flex;
    flex-direction: rwo;
    margin-top:5px;
}
.left {
    float:left;
    flex:1;
    text-align: center;
    margin-right: 2px;
}
.bBtn {
    width:100%;
    background-color: rgb(152, 152, 235);
    font-size:2rem;
    font-family: KaiTi;
}
.bBtn:hover {
    background-color: grey;
}
.right {
    float:right;
    flex:2.5;
    text-align: center;
    overflow:auto;
    height:86%;
    border-left: 0.05rem solid black;
    border-bottom: 0.05rem solid black;
    border-top:0.05rem solid black;
    padding-top:1%;
    padding-bottom:1%;
  
}
