body{
    background-color: #E6E6A0;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.titlefont{
    font-family: "楷体";
    color: #333399;
    font-size: 28px;
}



#quanjie{
    text-align: center;
    font-weight: bold;
}

hr{
    margin: 0% 100% 0% 0%;
    height: 2px;
    width:50%;
    border:none;
}

#hra{
    background-color: red;
}

#hrb{
    background-color: green;
}

#hrc{
    background-color: yellow;
}

#hrd{
    background-color: pink;
}

.longtext{
    word-wrap: break-word;
    word-break: normal;
}

#modal{
    z-index: 1003;
    position: fixed;
    left:0%;
    top:50%;
    right:0%;
    bottom: 0%;
    width: 100%;
    height: 50%;
    background: linear-gradient(#abe587,#90efb6,#7df6d7,#6ffcf0);
    opacity:0.5;
}

#content {
 
    position: absolute;
    left:0%;
    top:50%;
    right:0%;
    bottom: 0%;
    padding: 10px;
    margin:10px;
    z-index: 1003;
    overflow: auto;

}
  
#lock{
    z-index: 1003;
    height: 30%;
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin: auto;
   z-index:1003;

}

#text{
    z-index: 1003;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top:75%;
    text-align: center;
}
  