.body {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    font-family: KaiTi;
}
* {
    padding:0;
    margin:0;
    list-style: none;
}
.bookName {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    display:fixed;
    top:0;
}
.content {
    overflow: auto;
    padding:0.7rem;
}