<div class='all'>


  <br>
  <h1>寺庙推荐</h1>
  <hr>
  <div>
    <img style="float:left;margin:10px;" src="../../../assets/donghuatemple.jpg" width="200" height="140">
    <div>
      <h3>东华禅寺</h3>
      <a href="http://www.simiao.cn/information/7.html" target="_parent">唐龙朔元年，六祖惠能于黄梅受衣钵，南归经此寺而隐修......</a>
    </div>
    &nbsp;
  </div>

  &nbsp;


  <div>
    <hr>
    <img style="float:left;margin:8px;" src="../../../assets/fuzhouxichansi.jpg" width="200" height="140">
    <div>
      <h3>福州西禅寺</h3>
      <a href="http://www.simiao.cn/information/14.html" target="_parent">西禅寺名列福州五大禅林之一，为全国重点寺庙，位于西......</a>
    </div>
    <br>
  </div>
  <br>


  <div>
    <hr>
    <img style="float:left;margin:10px;" src="../../../assets/nanputuosi.jpg" width="200" height="140">
    <div>
      <h3>南普陀寺</h3>
      <a href="http://www.simiao.cn/information/2.html">南普陀寺位于福建省厦门市东南五老峰下，面临碧澄海港，该寺......</a>
    </div>
    <br>
  </div>
  <hr>

  <div style="margin-left:40%;background-color: blue;" class="square" (click)="firstpage()"></div>
  <div class="square" style="background-color:purple;" (click)="secondpage()"></div>
  <div class="square" style="background-color: green;" (click)="thirdpage()"></div>


</div>