.body {
    background-image: url("../../../assets/library-img.jpg");
    height: 35%;
    width: 100%;
    background-size: 100%;
  }
  
  /* 底部功能按键 */
  .nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 40%;
    width: 100%;
  }
  
  .nav-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .nav-line a {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 35%;
  }
  
  button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 700;
    color: #666666;
    /* 去除button默认外边框 */
    outline: 0;
    border: 1px solid rgba(255, 204, 0, 1);
    background-color: rgba(255, 204, 0, 1);
    box-shadow: 5px 5px 5px rgb(156, 156, 156)
  }
  

  
