
<div class="body">
  <div class="nav">
    <div class="nav-line">
      <a [routerLink]="[ '/foyin' ]">
        <button>
          <div>佛音</div>
        </button>
      </a>
      <a [routerLink]="[ '/xinde' ]">
        <button>
          <div>心得</div>
        </button>
      </a>
    </div>

    <div class="nav-line">
      <a [routerLink]="[ '/library' ]">
        <button>
          <div>藏经阁</div>
        </button>
      </a>
      <a [routerLink]="[ '/simiao' ]">
        <button>
          <div>寺庙</div>
        </button>
      </a>
    </div>

  </div>
</div>
