<div class="body">
  <div class="viewport">
    <div class="wrap">
      <img src="assets/xiuxing/xiuxing01.jpg">
      <img src="assets/xiuxing/xiuxing02.jpg">
      <img src="assets/xiuxing/xiuxing03.jpg">
    </div>
  </div>

  <div style="margin:30px 0px">
    <div class="line1">
      <a style="font-family:LiSu;color:#3e923b" href="xiuxing/foyin"><img style="width:50px" src="assets/xiuxing/foyin.png">佛音</a>
      <a style="font-family:LiSu;color:#e65817" href="xiuxing/xinde"><img style="width:50px" src="assets/xiuxing/xinde.png">心得</a>
    </div>
    <div class="line1">
      <a style="font-family:LiSu;color:#1416bb" href="/library"><img style="width:50px" src="assets/xiuxing/library.png">藏经阁</a>
      <a style="font-family:LiSu;color:#000000" href="/simiao"><img style="width:50px" src="assets/xiuxing/temple.png">寺庙</a>
    </div>
  </div>




  <div class="list">
    <div class="rowup">
      <div class="item">苦海无边，回头是岸。</div>
      <div class="item">知错能改，善莫大焉。</div>
      <div class="item">色即是空，空即是色。</div>
      <div class="item">放下屠刀，立地成佛。</div>
      <div class="item">不忆一切法，乃名禅定。</div>
      <div class="item">离一切诸相，则名诸佛。</div>
      <div class="item">救人一命，胜造七级浮屠。</div>
      <div class="item">每一种创伤，都是一种成熟。</div>
      <div class="item">改变别人，不如先改变自己。</div>
      <div class="item">盛喜勿许人物，盛怒勿答人书。</div>
      <div class="item">你永远要感谢给你逆境的众生。</div>
      <div class="item">风平浪静，训练不出良好的水手。</div>
      <div class="item">伤人之语，如水覆地，难以挽回。</div>
      <div class="item">能为别人设想的人，永远不寂寞。</div>
    </div>
  </div>
</div>
