<div class="bg">
  <audio id="audio"></audio>
  <div class="voiceposition" id="voiceposition">
    <div *ngIf="!ishide" class="voice" id="voice" (click)="play()">
      <span class="span">)</span><span class="span">)</span><span class="span">)</span>
    </div>
    <span class="time" id="time"></span>
  </div>
  <textarea placeholder="向佛祖说出你的愿望。。。"></textarea>
  <div id="btntext" class="phone-operate" (touchstart)="gtouchstart()" (touchmove)="gtouchmove()" (touchend)="gtouchend()"
    ng-model="btnText">{{btnText}}</div>
</div>