<html>
  <head>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  
    <div class="card-header">
      <h3 class="text-muted">佛音</h3>
    </div>  
     
  <div *ngFor="let item of playList,let key=index">
  <a class="SongsList" (click)="xuange(key)">{{item.Title}}</a>
  </div>
  </body>
  </html>