<div class='all'>


  <br>
  <h1>寺庙推荐</h1>

  <hr>
  <div>
    <img style="float:left;margin:10px;" src="../../../assets/jingtaipumingsi.jpg" width="200" height="140">
    <div>
      <h3>荆台普明寺</h3>
      <a href="http://www.simiao.cn/information/49.html" target="_parent">普明寺始建于明朝万历年间，原名普润庵，后名普名寺......</a>
    </div>
    &nbsp;
  </div>

  &nbsp;


  <div>
    <hr>
    <img style="float:left;margin:8px;" src="../../../assets/shanxishuijingsi.jpg" width="200" height="140">
    <div>
      <h3>山西水晶院</h3>
      <a href="http://www.simiao.cn/information/58.html" target="_parent">山西水晶院始建于隋末，是著名的佛教寺院，经过......</a>
    </div>
    <br>
  </div>
  <br>


  <div>
    <hr>
    <img style="float:left;margin:10px;" src="../../../assets/baihesi.jpg" width="200" height="140">
    <div>
      <h3> 弋阳县白鹤寺</h3>
      <a href="http://www.simiao.cn/information/63.html">弋阳县白鹤寺位于江西上饶市弋阳县三县岭镇姚畈村附近,比邻......</a>
    </div>
    <br>
  </div>
  <hr>

  <div style="margin-left:40%;background-color: blue;" class="square" (click)="firstpage()"></div>
  <div class="square" style="background-color:purple;" (click)="secondpage()"></div>
  <div class="square" style="background-color: green;" (click)="thirdpage()"></div>

</div>