<head>
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="http://www.bootcss.com/p/buttons/css/buttons.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    </head>
    <body>
    <!-- <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.bootcss.com/p/buttons/js/buttons.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    </body>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">心得标题</span>
      </div>
      <input type="text" class="form-control" placeholder="不断学习，随缘度日" aria-label="不断学习，随缘度日" aria-describedby="basic-addon1" name="title" [(ngModel)]="this.Message.Title" >
    </div>
    
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">心得</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" placeholder="学习永无止境，认识到自己的不足就是一种进步，活到老学到老。" [(ngModel)]="this.Message.Xinde" name="Xinde" id="Xinde" ></textarea>
    </div>

    <div class="text-center">
        <button class="btn btn-outline-secondary" type="button" (click)="add()" >添加</button>
    </div>
</div>