<div class='all'>

  <br>
  <h1>寺庙推荐</h1>

  <hr>
  <div>
    <img style="float:left;margin:10px;" src="../../../assets/guanyingusi.jpg" width="200" height="140">
    <div>
      <h3>观音古寺</h3>
      <a href="http://www.simiao.cn/information/57.html" target="_parent">观音古寺位于罗浮山麓，罗浮山又名东樵山，位于......</a>
    </div>
    &nbsp;
  </div>

  &nbsp;


  <div>
    <hr>
    <img style="float:left;margin:8px;" src="../../../assets/yufosi.jpeg" width="200" height="140">
    <div>
      <h3>玉佛寺</h3>
      <a href="http://www.simiao.cn/information/44.html" target="_parent">玉佛禅寺坐落在上海市区北侧的安远、江宁路口。建于1918年......</a>
    </div>
    <br>
  </div>


  <div>
    <hr>
    <img style="float:left;margin:10px;" src="../../../assets/ziguosi.jpg" width="200" height="140">
    <div>
      <h3>资国寺</h3>
      <a href="http://www.simiao.cn/information/40.html">资国寺为闽东千年古刹，也是福鼎市原六大寺之一......</a>
    </div>
    <br>
  </div>
  <br>
  <hr>

  <div style="margin-left:40%;background-color: blue;" class="square" (click)="firstpage()"></div>
  <div class="square" style="background-color:purple;" (click)="secondpage()"></div>
  <div class="square" style="background-color: green;" (click)="thirdpage()"></div>

</div>