/* 进度条 */
progress
{
   color:rgb(190, 125, 64); /*兼容IE10和chorme的已完成进度背景*/
   border:none;
   border-radius: 25px;
   background:rgb(216, 211, 207);/*这个属性也可当作Chrome的已完成进度背景，只不过被下面的::progress-bar覆盖了*/      
   overflow: hidden;
}
progress::-webkit-progress-bar
{ 
    /* 进度条背景颜色 */
    background:rgb(216, 211, 207); 
}
progress::-webkit-progress-value 
{
    border-radius: 25px;
    /* 进度条颜色 */
    background:rgba(158, 111, 50, 0.89); 
}


 
/* 方形按钮 */
.buttonk{
  height: 15%; 
  margin-left:auto;
   margin-right:auto;
  margin-bottom: 3%;
  margin-top: -3%
}


  button.button1 {
    height: 100%;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 700;
    color: #e6e6e6;
    /* 去除button默认外边框 */
    border: 1px solid rgb(119, 75, 46);
    background-color: rgb(119, 75, 46);
  }

  /* 卡片样式 */
  .card {
      position: relative;
      top:3px;
      padding: 8%;
      margin: 5% 3%;
      border-radius: 3px;
      height: 40%;
      border:2px #9c9c9c;
      border-style:none none solid none;
      box-shadow: 0px 0px 4px  rgb(156, 156, 156);
  }
  /* 标题 */
  p.head1{
    font-size: 125%;
    color: rgb(100, 100, 100);
    text-align: center;
   }

 p.head2{
  font-size: 125%;
  color: rgb(100, 100, 100);
  font-weight: bold;
  text-align: center;
 }

 /* 表格 */
 table {
   margin: 8% 0%;
 }

 thead {
  text-align:center ;
 }

 td {
  text-align:center ;
 }

 /* 不换行 */
.nowrap {
  white-space:nowrap;
  width:25%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 14%;
  margin-bottom: 0%;
}
/* 单选按钮 */
div.select {
  margin-top:0%;
}

label {
  position: relative;
  left: -5%;
  top: 21px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #999;
}

input[type="radio"] {
  width: 40px;
  height: 40px;
  opacity: 0;
}

input:checked+label { 
  background-color: #fe6d32;
  border: 1px solid #fe6d32;
}

input:checked+label::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 20px;
  top: 6px;
  left: 14px;
  border: 4px solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg)
}
/* 支付按钮 */
div.pay{
  white-space:nowrap;
  margin-top: 5%;
  height: 13%;
}
button.weixin {
  width: 30%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  /* 去除button默认外边框 */
  border: 1px solid rgb(71, 209, 59);
  background-color: rgb(71, 209, 59);
}

button.zhifubao {
  width: 30%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  /* 去除button默认外边框 */
  border: 1px solid rgb(62, 182, 238);
  background-color: rgb(62, 182, 238);
}
  /* 背景遮罩层 */

.overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.3);
  z-index: 1001;
}

/* 模态弹窗区域 */

.modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 50%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(251, 241, 230);
  z-index: 1002;
  overflow: auto;
  animation: scaleIn .3s;
}

/* 从上往下淡入 */

@keyframes fadeInDown {
  0% {
    transform: translate3d(0, -20%, 0);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

/* 缩放淡入 */

@keyframes scaleIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* 缩放淡出 */

@keyframes scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}

