<!-- ctrl+shift+i整理代码 -->
<div class="card">
    <p class="head1">{{book.scripturename}}</p>
    <!-- 进度条显示进度，max是总任务量，value是已经完成任务量 -->
    <div style="margin-left:auto; margin-right:auto; margin-bottom: -5%;margin-top: 0%;">
        <progress max="20000" value="{{book.nownum}}"></progress>
    </div>

    <table>
        <thead>
            <th>已达成</th>
            <th>目标</th>
            <th>参与人数</th>
        </thead>
        <tbody>
            <td>{{book.nownum}}</td>
            <td>{{book.targetnum}}</td>
            <td>{{book.donatornum}}</td>
        </tbody>
    </table>

    <div class="buttonk"><button class="button1" (click)="this.open()">点击参与助印</button></div>
    <div style="margin-left:auto; margin-right: auto">
        <page [(pagination)]="pagination"> </page>
    </div>
</div>

<div class="card1">
    <div><h5>助印功德榜芳名</h5></div>
    <li *ngFor="let donator of donators" >
        <div> {{donator.donatorid}} {{donator.scripturename}} {{donator.donatenum}}</div>
    </li>
</div>

<div>
    <!-- 遮罩 -->
    <div id="overlay" class="overlay" (click)="this.close()"></div>
    <!-- 弹窗 -->
    <div id="modal" class="modal">
        <p class="head2">助印经书</p>
        <div class="nowrap">
            <span style="margin-right:29%; font-size:120%; color:rgb(133, 132, 132)">功德芳名</span>
            <input style="width:165%;">
        </div>
        <div class="select">
            <input id="item1" type="radio" name="radio" value="10" (click)="select(10)" checked>
            <label for="item1"></label>
            <span style="font-size:20px">10本</span>
            <input id="item2" type="radio" name="radio" value="20" (click)="select(20)">
            <label for="item2"></label>
            <span style="font-size:20px">20本</span>
        </div>
        <div class="select">
            <input id="item3" type="radio" name="radio" value="50" (click)="select(50)">
            <label for="item3"></label>
            <span style="font-size:20px">50本</span>
            <input id="item4" type="radio" name="radio" value="100" (click)="select(100)">
            <label for="item4"></label>
            <span style="font-size:20px">100本</span>
        </div>
        <div style="text-align:center; margin-top:5%; font-size:17px">共{{booknum*3}}元</div>
        <div class="pay">
            <button class="weixin">微信</button>
            <button class="zhifubao">支付宝</button>
        </div>

    </div>
</div>