.bg {
  background-image: url("../../../../assets/gongfo/bg_provider2.jpg");
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: none;
  overflow:auto;
  overflow-wrap: break-word;
  z-index: 10;
  animation: fadeInDown .5s;
}

@keyframes fadeInDown {
  0% {
    transform: translate3d(0, -20%, 0);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
