<div class="bg">
 <img class="top" src="../../../assets/gy_top.png" alt="">
 <img class="fo" (click)="fo()" src="http://api10.buddhaheart.cn/webfiles/sys/201710/171015001922d66c.png" alt="">
 <img class="desk" src="../../../assets/gy_desk.jpg" alt="">
 <div class="lazhuset">
    <img class="lazhu" src="../../../assets/gy_lazhu.png" alt="">
    <img class="xiang" (click)="xiang()" src="http://api10.buddhaheart.cn/webfiles/sys/201710/171013142225d175.png" alt="">
    <img class="lazhu" src="../../../assets/gy_lazhu.png" alt="">
 </div>
 <div class="hua">
     <img class="huaset" (click)="hua()" src="http://api10.buddhaheart.cn/webfiles/sys/201710/1710142350470a8e.png" alt="">
     <img class="huaset" (click)="hua()" src="http://api10.buddhaheart.cn/webfiles/sys/201710/1710142350470a8e.png" alt="">
 </div>
 <img class="fruit" (click)="fruit()" src="http://api10.buddhaheart.cn/webfiles/sys/201710/171013142539eb07.png" alt="">
 <div class="button">
    <button (click)="bless()">祈福</button>
 </div>
 
</div>





