<div class="bg">
    <img class="top" src="../../../assets/gy_top.png" alt="">
    <img class="desk" src="../../../assets/gy_desk.jpg" alt="">
    <div class="lazhuset">
        <img class="lazhu" src="../../../assets/gy_lazhu.png" alt="">

        <img class="xiang" (click)="dialog.open()" (click)="xiang()" src={{xiang_list.url}}
            alt="">

        <img class="lazhu" src="../../../assets/gy_lazhu.png" alt="">
    </div>
    <div class="hua">
        <img class="huaset" (click)="dialog.open()" (click)="hua()" src={{flower_list.url}}
            alt="">
        <img class="huaset" (click)="dialog.open()" (click)="hua()" src={{flower_list.url}}
            alt="">
    </div>
    <img class="fo" (click)="dialog.open()" (click)="fo()" src={{fo_list.url}} alt="">
    <img class="fruit" (click)="dialog.open()" (click)="fruit()" src={{fruit_list.url}} alt="">
    <div class="button">
        <button (click)="bless()">祈福</button>
    </div>
</div>

<app-dialog #dialog>
    <div *ngIf="status==1">

    </div>
</app-dialog>