
<div class="class1">
  <br>
  <h2>八字算命</h2>
  <br>
  <div class="class2" > 
    <p class="jiexi">八字算命，是指根据人的出生时间（生辰）排成命局，共有八个字（即生辰八字），结合八字的阴阳五行生克情况进行分析一个人的运势，所以称为生辰八字测算，是命理测算方法之中最正统的一种。</p>

  </div>
  <br>
  <div class="class3"  >
      <ul>
        <li>
          <b class="ziti">您的姓名：</b>
          <br>
          <input type="text" placeholder="请输入2-5个汉字"  maxlength="5" style="width:150px ;height:28px" [(ngModel)]="username" onkeydown="if(event.keyCode==32){return false;}" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')"/>
        </li>
        <br><br>
        <li>
          <b class="ziti">您的性别：</b>
          <br>
          <input type="radio"  style=" width:20px ;height:20px" value="1" name="sex" id="sex1" [(ngModel)]="sex" ><label for="sex1" style="font-size: 20px; font-family: 楷体">男</label>
          &nbsp;
          <input type="radio" style="width:20px ;height:20px" value="2" name="sex" id="sex2" [(ngModel)]="sex"><label for="sex2" style="font-size: 20px; font-family: 楷体">女</label>
        </li>
        <br>
        <li>
          <b class="ziti">出生日期：</b>
          <br>
          <input type="date" style="width:150px ;height:28px" [(ngModel)]="riqi" >
        </li>
      </ul> 
      <!--插入立即测算图片和文字-->
    <br><br>
    <div style="background: url(img/../../../../assets/cesuan.png); background-repeat:no-repeat; height: 10%; margin: 5%;" (click)="cesuan()">

      <p style="font-size: 28px; font-family: 楷体; margin-left:12%;color :#CCCC99; ">立即测算</p>
    </div>
  </div>
  
  
</div>