.class1 {
    background-color: rgb(243, 178, 59);
    height: 100%;
    width: 100%;
    background-size: 100%;
    overflow: auto;
   
}
hr{
    width:98%;
}
h2{
    text-align: center;
    font-size: 30px;
    font-family: 楷体;
    color:rgb(255, 251, 0);
}
ul{
    list-style-type: none;
}
.ziti{
    font-size: 130%;
    font-family: 楷体;
}
.jiexi{
    text-indent: 35px;
    color:red;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    
}
.class2{
  margin :2%;
  background-color: white;
  border-radius: 5%;
  width: 95%;
  height: 35%;
  
}
