
<div class="class1">
  <br>
  <h2>八字算命</h2>

  <div>
    
      <ul>
        <hr>
        <li>
            <b class="ziti">您的姓名：</b>
            <input type="text" placeholder="请输入2-5个汉字"  maxlength="5" style="width:50% ;height:50%" [(ngModel)]="username" onkeydown="if(event.keyCode==32){return false;}" />
        </li>
         <hr>
        <li>
            <b class="ziti">您的性别：</b>
            <input type="radio"  style=" width:15px ;height:15px" value="1" name="sex" id="sex1" [(ngModel)]="sex" ><label for="sex1" style="font-size: 18px; font-family: 楷体">男</label>
            &nbsp;
            <input type="radio" style="width:15px ;height:15px" value="2" name="sex" id="sex2" [(ngModel)]="sex"><label for="sex2" style="font-size: 18px; font-family: 楷体">女</label>
        </li>
         <hr>
        <li>
            <b class="ziti">出生日期：</b>
            <input type="date" style="width:50% ;height:50%" [(ngModel)]="riqi" >
        </li>
      </ul> 
         <hr>
  </div>

  <div (click)="cesuan()">
      <img src="assets/cesuan02.jpg" style="width: 40%; height:7%;margin-left: 30%; ">
  </div>

  <br>

  <div class="class2"> 
      <p style="text-align:center; font-size:150%; font-family:楷体; color:red;">八字命理对人的影响</p>
      <p style="font-size:100%; font-family:宋体;margin:2%;">&nbsp;&nbsp;八字算命，是指根据人的出生时间（生辰）排成命局，共有八个字（即生辰八字），结合八字的阴阳五行生克情况进行分析一个人的运势，所以称为生辰八字测算，是命理测算方法之中最正统的一种。</p>
  </div>
  
</div>