
<div class="class1">
  <br>
  <h2>八字算命</h2>

  <div class="class2" > 
    <p class="jiexi">八字算命，是指根据人的出生时间（生辰）排成命局，共有八个字（即生辰八字），结合八字的阴阳五行生克情况进行分析一个人的运势，所以称为生辰八字测算，是命理测算方法之中最正统的一种。</p>

  </div>
  <br><br>
  <div class="class3"  >   
    <ul>
      <li>
        <b class="ziti">您的姓名：</b>
        <br>
        <input type="text"  style="width:150px ;height:22px"/>
     </li>
  <br><br>
    <li>
      <b class="ziti">您的性别：</b>
       <br>
      <input type="radio" checked style="width:15px ;height:15px" value="1" name="sex" id="sex1" ><label for="sex1" style="font-size: 20px; font-family: 楷体">男</label>
     &nbsp;
     <input type="radio" style="width:15px ;height:15px" value="2" name="sex" id="sex2" ><label for="sex2" style="font-size: 20px; font-family: 楷体">女</label>
    </li>
  <br><br>
  <li>
      <b class="ziti">出生日期：</b>
    <br>
    <input type="date" style="width:150px ;height:25px" >
  </li>
</ul>
</div>

</div>