.p1{
    position: absolute;
    top:6%;
    text-align: center;
    left: 0;
    right: 0;
    font-size:32px;
    color:rgb(73, 87, 87);
    font-family:"STXingkai";

}
.img{
    position:absolute;
    top:40%;
    left:35%;
    width:30%;
    height:40%;
    animation:0;
}
@keyframes mymove
{
    0% {transform:  translate(0px) rotate(0deg);}
    25% {transform: translateY(15px)  rotate(38deg);}
    75% {transform:  translate(-13px) rotate(-15deg);}
    100% {transform: translate(3px) rotate(0deg);}
}
.p2{
    position: absolute;
    bottom:4%;
    left: 30%;
    width: 40%;
    text-align: center;
    font-size:40px;
    background-color: rgb(216, 203, 25);
    color:rgb(73, 87, 87);
    border-radius: 10px;
}