<style>
  input:focus
  {
    background-color:rgb(248, 223, 114)
  }
  </style>
  
  <div class="body" id="main">
    <div class="xiang_area">
    <div class="xiang"><input type="button" name="xiang_type" value="平安香" class="xuanze"></div>
    <div class="xiang"><input type="button" name="xiang_type" value="消灾香" class="xuanze"></div>
    <div class="xiang"><input type="button" name="xiang_type" value="富贵香" class="xuanze"></div>
    <div class="xiang"><input type="button" name="xiang_type" value="求子香" class="xuanze"></div>
    <div class="xiang"><input type="button" name="xiang_type" value="增财香" class="xuanze"></div>
    <div class="xiang"><input type="button" name="xiang_type" value="智慧香" class="xuanze"></div>
  </div>
  </div>
  

