 /*背景*/
 .body {
  background-image: url("../../../../assets/juanxianghuo-bg.jpg");
   height: 100%;
  width: 100%; 
  /*背景图垂直，水平居中*/
  background-position: center center;
  /*背景图不平铺*/
  background-repeat: no-repeat;
  /*基于容器大小伸缩*/
  background-size: cover;
  text-align: center;
  font-family:微软雅黑;
} 
  /* 选择香类型的总div大小 */
.xiang{
  width:43% ;
  height: 40px;
  border-radius: 15px;
 
}
.xiang_area{
  width:60%;
  height:25%;

  display:flex;
  flex-wrap: wrap;
  position: absolute;
  left:8%;
  top:63.5%;
}
.xuanze{
width:80%;
height:100%;
border-radius: 8px;
outline: 0;
border: 1px solid rgb(248, 232, 193);
background-color:#ffc952;
/* box-shadow: 2px 2px 2px rgb(156, 156, 156) */
color: #3f4040;
}
.zhifu_area{
  width:28%;
  height:20%;
  display:flex;
  flex-wrap: wrap;
  position: absolute;
  left:65%;
  top:70.5%;
}
.juzi{
    position: absolute;
    top:91%;
    left:21%;
    font-weight: 600;
    color:#fc913a;
    font-size: 19px;
}