.pullleft{
    width: 20%;
    float: left;
    position: relative;
    left: 20px;
  }
  
.pullright{
    width: 10%;
    float: right;
    clear:right;
}

.body {
  background-image: url("../../../../assets/gongde-bg.jpg");
  height: 100%;
  width: 100%;
  background-size: 100%;
}

.list-group11{
  background-color:#5b8a00;
}