#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.play-control {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(172, 170, 170, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-control img {
    width: 40px;
    height: 40px;
}

.enter {
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: 0 35%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 204, 0, 1);
    color: rgb(240, 238, 238);
    text-align: center;
}